<div class="card-product">
  <div class="card-product-infos">
    <h1><%= @cocktail.name.upcase %></h1>
    <h3>Ingredients:</h3>
    <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
      <%= dose.ingredient.name %>, <%= dose.description %><%=link_to "(Delete)", dose_path(dose), method: :delete, data: { confirm: "Are you sure you want to delete this ingredient?" } %>
      </li>
    <% end %>
    </ul>
    <div class="edit-delete">
      <p><%= link_to "Edit #{@cocktail.name}", edit_cocktail_path(@cocktail) %></p>
      <p><%= link_to "Delete #{@cocktail.name}", cocktail_path(@cocktail), method: :delete,  data: { confirm: "Are you sure you want to delete this cocktail?" } %></p>
    </div>
    <div class="add-ingredient-form, form-text">
      <h4>Add a new ingredient</h4>
        <%= simple_form_for [ @cocktail, @dose ] do |f| %>
          <%= f.input :ingredient_id, placeholder: "Lemon juice", collection: Ingredient.all %>
          <%= f.input :description, placeholder: "2 parts" %>
          <%= f.submit "Add", class: "btn btn-outline-light" %>
        <% end %>
    </div>
  </div>
    <img src="<%= @cocktail.photo %>">
</div>




